<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>新入社員登録</title>
</head>

<body>
	<h1>新入社員登録</h1>
	<form action="Registration" method="post">
		<table>
			<tr>
				<th>氏名</th>
				<td><input type="text" name="name" placeholder="例) 田中 太郎"></td>
			</tr>
			<tr>
				<th>出身地</th>
				<td><input type="text" name="home_town" placeholder="例) 東京都"></td>
			</tr>
			<tr>
				<th>入社月</th>
				
				<td><input type="date" name="joining_month"></td>
			</tr>
		</table>
		<input type="submit" value="登録する"><br>
	</form>
	<form action="employeeList" method="get">
		<input type="submit" value="社員一覧へ">
	</form>
</body>

</html>