<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>新入社員登録</title>
</head>

<body>
	<h1>新入社員登録</h1>
	<form action="Registration" method="post">
		<input type="text" name="name" placeholder="山田 太郎"><br>
		<input type="text" name="home_town" placeholder="東京都"><br>
		<input type="date" name="joining_month"></input><br>
		<input type="submit" value="登録する"><br>
	</form>
	<form action="employeeList" method="get">
		<input type="submit" value="社員一覧へ">	
	</form>
</body>

</html>